<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <ng-container [ngSwitch]="akoImaBoga()">
</ng-container> -->

<app-loader [hidden]="!isLoadingOperation"></app-loader>
<a class="skip-link" href="#content">Salta al contenuto</a>
<app-header [header]="changeHeader()"></app-header>
<div class="container" id="content">
  <router-outlet></router-outlet>
</div>
<app-error-dialog></app-error-dialog>
<app-footer></app-footer>
