<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<div class="row py-2" *ngIf="item.description">
  <div class="col-md-12 content-field">
    <div class="row">
      <div class="col-md-12 font-weight-bold">
        {{ item.description }}
        <span
          *ngIf="tabLabels.get(item.description)"
          pTooltip="{{ tabLabels.get(item.description) }}"
          >&nbsp;<i class="fa fa-question-circle" aria-hidden="true"></i
        ></span>
      </div>
      <div class="col-md-12">
        <input
          type="text"
          class="form-control"
          value="{{ item.value }}"
          readonly="true"
        />
      </div>
    </div>
  </div>
</div>
