/*.header-color {
    background-color: #ecf0f1;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

::ng-deep #idTableConteggioAngolare {
    .ui-table, .ui-widget {
        font-size: 18px !important;
    }
}

::ng-deep #idDettaglioAlberiCavallettati {
    .ui-table, .ui-widget {
        font-size: 18px !important;
    }
}
*/
