<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<footer class="footer">
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <img [src]="'assets/img/eu.png'" alt="Unione europea" class="mr-5" />
          <img
            [src]="'assets/img/stemma_repubblica_italiana.png'"
            alt="Repubblica italiana"
            class="mr-5"
          />
          <img
            [src]="'assets/img/logo-regione.svg'"
            alt="Regione Piemonte"
            class="mr-5"
          />
          <img [src]="'assets/img/logo_psr.png'" alt="PSR 2014 - 2020" />
        </div>
      </div>
    </div>
  </div>
  <div class="blu">
    <div class="container">
      <div class="row hr">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p class="footer-author">
            Fondo europeo agricolo di sviluppo rurale. L'Europa investe nelle
            zone rurali.
            <br />
            PSR 2014-2020, Op. 4.3.4 - Az. 2 - Infrastrutture informatiche per
            il settore forestale.
            <a
              href="https://www.servizi.piemonte.it/srv/sifor/dwd/progetto-idf-PSR.pdf"
              class="external-link"
              target="_blank"
              ><strong>Vai alla pagina dedicata</strong></a
            >
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 logo_csi">
          <img
            [src]="'assets/img/logo_IPLA.png'"
            alt="IPLA - Istituto per le piante da legno e l'ambiente ipla spa"
            class="mr-5"
          />
          <img [src]="'assets/img/logo-csi.svg'" alt="CSI Piemonte" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul>
            <li>
              <a
                href="https://servizi.regione.piemonte.it/cookie-policy"
                target="_blank"
                >Cookie policy <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a target="_blank" [href]="AGID_VALIDATION_LINK"
                >Dichiarazione di accessibilità
                <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.regione.piemonte.it/web/note-legali-privacy"
                target="_blank"
                >Note legali e privacy <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.regione.piemonte.it/web/redazione"
                target="_blank"
                title="Si apre in una nuova finestra"
                >Meccanismo di feedback <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
