<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<div id="container">
  <div id="line"></div>
  <div class="step-item" *ngFor="let step of stepsconfig; let i = index">
    <a
      (click)="active(i)"
      [class.step-active]="step.isActive"
      [ngClass]="step.state"
      [class.step-disabled]="!step.enabled"
    >
      <div style="text-align: center">
        <span class="circle">{{ i + 1 }}</span>
        <span *ngIf="step.noOfErrors > 0" class="badge">{{
          step.noOfErrors
        }}</span>
      </div>

      <label>{{ step.label }}</label>
    </a>
  </div>
</div>
