<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<!-- <app-reusable-table
  [data]="cavalettatiData"
  [headers]="cavalettatiHeaders"
  [initiallySortedColumn]="initiallySortedColumn"
  (rowIdEmitter)="emitEditModal()"
  [selectableId]="selectableId"
></app-reusable-table> -->
<div #root>
  <div
    class="col-md-12"
    *ngIf="alberiCavallettatiForm"
    [formGroup]="alberiCavallettatiForm"
  >
    <div class="my-3">
      <table class="table table-bordered t-fixed">
        <thead>
          <tr>
            <!--th scope="col">Codice</!--th-->
            <th scope="col" style="width: 33%">Specie</th>
            <!--th scope="col">Gruppo</!--th-->
            <th scope="col" style="width: 33%">Diametro (cm a 1,30 m)</th>
            <th scope="col" style="width: 33%">Seme / Pollone</th>
            <th scope="col" class="w-6"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            formArrayName="cavallettati"
            *ngFor="
              let angolare of alberiCavallettatiForm.get('cavallettati')[
                'controls'
              ];
              let i = index
            "
          >
            <ng-container [formGroupName]="i">
              <td>
                <ng-container *ngIf="specieList.length > 0">
                  <p-overlayPanel [appendTo]="root" #errorSpecie>
                    <span
                      *ngIf="
                        angolare.get('idSpecie').touched &&
                        angolare.get('idSpecie').errors?.required
                      "
                    >
                      <i
                        class="pi pi-exclamation-triangle"
                        style="
                          color: red;
                          left: 37%;
                          position: relative;
                          font-size: 35px;
                          margin: 5px;
                        "
                      ></i
                      ><br />Errore: Selezionare una voce dall'elenco</span
                    >
                  </p-overlayPanel>
                  <p-dropdown
                    (mouseleave)="errorSpecie.hide()"
                    (mouseenter)="
                      showError(angolare, errorSpecie, 'idSpecie', $event)
                    "
                    [options]="specieList[i]"
                    pTooltip="{{ tooltipProperty.specieList }}"
                    tooltipPosition="top"
                    [placeholder]="'Seleziona specie'"
                    [style]="{ width: '100%' }"
                    [showClear]="true"
                    [autoWidth]="false"
                    [filter]="true"
                    formControlName="idSpecie"
                    appendTo="body"
                    (onChange)="changeSpecie(i)"
                  >
                    <ng-template let-type pTemplate="item">
                      <div
                        class="ui-helper-clearfix"
                        style="position: relative; height: 25px"
                      >
                        <div style="font-size: 14px">
                          {{ type.label }}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-container>
              </td>
              <!--td>
                                <ng-container *ngIf="gruppoList.length > 0">
                                    <p-overlayPanel [appendTo]="root" #errorGruppo>
                                        <span *ngIf="angolare.get('gruppo').touched &&
                                        angolare.get('gruppo').errors?.required">

                                        <i class="pi pi-exclamation-triangle" style="color: red; left: 37%; position: relative; font-size: 35px; margin: 5px; "></i><br>Errore: Selezionare una voce dall'elenco</span>
                                    </p-overlayPanel>
                                    <p-dropdown (mouseleave)="errorGruppo.hide()" (mouseenter)="showError(angolare,errorGruppo,'gruppo',$event)" [options]="gruppoList" pTooltip={{tooltipProperty.gruppoList}} tooltipPosition="top" [placeholder]="'Seleziona gruppo'" [style]="{ width: '100%' }"
                                        [showClear]="true" [autoWidth]="false" [filter]="true" formControlName="gruppo" appendTo="body" (onChange)="changeGruppo(i)">
                                        <ng-template let-type pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                                                <div style="font-size:14px;">
                                                    {{ type.label }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-container>
                            </!--td-->
              <td>
                <p-overlayPanel [appendTo]="root" #errorDiametro>
                  <span
                    *ngIf="
                      angolare.get('diametro').touched &&
                      angolare.get('diametro').errors?.required
                    "
                  >
                    <i
                      class="pi pi-exclamation-triangle"
                      style="
                        color: red;
                        left: 37%;
                        position: relative;
                        font-size: 35px;
                        margin: 5px;
                      "
                    ></i
                    ><br />Errore! Campo diametro obbligatorio
                  </span>
                  <span
                    *ngIf="
                      angolare.get('diametro').touched &&
                      angolare.get('diametro').errors?.pattern
                    "
                  >
                    <i
                      class="pi pi-exclamation-triangle"
                      style="
                        color: red;
                        left: 37%;
                        position: relative;
                        font-size: 35px;
                        margin: 5px;
                      "
                    ></i
                    ><br />Errore! Campo diametro non valido
                  </span>
                  <span
                    *ngIf="
                      angolare.get('diametro').touched &&
                      angolare.get('diametro').errors?.maxlength
                    "
                  >
                    <i
                      class="pi pi-exclamation-triangle"
                      style="
                        color: red;
                        left: 37%;
                        position: relative;
                        font-size: 35px;
                        margin: 5px;
                      "
                    ></i
                    ><br />Attenzione! Stringa digitata è troppo lunga
                  </span>
                </p-overlayPanel>
                <input
                  (mouseleave)="errorDiametro.hide()"
                  (mouseenter)="
                    showError(angolare, errorDiametro, 'diametro', $event)
                  "
                  class="form-control"
                  pTooltip="{{ tooltipProperty.diametro }}"
                  tooltipPosition="top"
                  type="text"
                  name="diametro"
                  formControlName="diametro"
                />
              </td>
              <td>
                <p-overlayPanel [appendTo]="root" #errorFlgPolloneSeme>
                  <span
                    *ngIf="
                      angolare.get('flgPolloneSeme').touched &&
                      angolare.get('flgPolloneSeme').errors?.required
                    "
                  >
                    <i
                      class="pi pi-exclamation-triangle"
                      style="
                        color: red;
                        left: 37%;
                        position: relative;
                        font-size: 35px;
                        margin: 5px;
                      "
                    ></i
                    ><br />Errore: Selezionare una voce dall'elenco</span
                  >
                </p-overlayPanel>
                <p-dropdown
                  (mouseleave)="errorFlgPolloneSeme.hide()"
                  (mouseenter)="
                    showError(
                      angolare,
                      errorFlgPolloneSeme,
                      'flgPolloneSeme',
                      $event
                    )
                  "
                  [options]="semePolloneArray"
                  pTooltip="{{ tooltipProperty.semePollone }}"
                  tooltipPosition="top"
                  [placeholder]="'Seleziona seme/pollone'"
                  [style]="{ width: '100%' }"
                  [showClear]="true"
                  [autoWidth]="false"
                  formControlName="flgPolloneSeme"
                >
                  <ng-template let-type pTemplate="item">
                    <div
                      class="ui-helper-clearfix"
                      style="position: relative; height: 25px"
                    >
                      <div style="font-size: 14px">
                        {{ type.label }}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </td>
              <td class="border-left-0">
                <button
                  *ngIf="i !== 0"
                  type="button"
                  class="btn-close align-cancel-icon"
                  (click)="deleteFiledValue(i)"
                >
                  <em class="fa fa-trash" aria-hidden="true"></em>
                </button>
              </td>
            </ng-container>
          </tr>

          <tr>
            <td colspan="6">
              <strong>Numero totale alberi: </strong
              >{{
                alberiCavallettatiForm.get("cavallettati")["controls"].length
              }}
            </td>
          </tr>

          <tr>
            <td colspan="6" class="text-center">
              <p-button
                type="button"
                [styleClass]="'f-18 font-weight-bold form-button'"
                icon="fa fa-plus"
                iconpos="right"
                (onClick)="addItem()"
                label="Aggiungi"
              >
              </p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <p-button
      label="Pulisci"
      (onClick)="resetForm()"
      [styleClass]="'mt-3 f-18 font-weight-bold form-outline-button'"
    ></p-button>
  </div>
</div>

<hr class="black-hr" />
<div class="row my-2">
  <div class="col-md-12 text-right">
    <p-button
      label="Torna ai risultati ricerca"
      (onClick)="navigateToSearch()"
      [styleClass]="'mr-2 mb-3 f-18 font-weight-bold form-button'"
    ></p-button>
    <p-button
      label="Consolida scheda"
      [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
      (click)="showDialog()"
    ></p-button>
    <p-button
      *ngIf="alberiCavallettatiForm"
      label="SALVA in bozza"
      (onClick)="sendFourthForm()"
      [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
    ></p-button>
  </div>
</div>
<p-dialog
  header="ATTENZIONE!"
  [(visible)]="consolidaDialog"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="container p-4">
    <p class="pb-4">
      Si vuole procedere al consolidamento delle informazioni inserite?
      Continuare?
    </p>
    <div class="row">
      <div class="col-md-6">
        <p-button
          icon="pi pi-times"
          (click)="closeDialog()"
          label="No"
          styleClass="form-outline-button btn-sm"
        ></p-button>
      </div>
      <div class="col-md-6 text-right">
        <p-button
          icon="pi pi-check"
          (click)="consolidaScheda()"
          label="Si"
          styleClass="btn btn-primary btn-sm"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>
