<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<div class="col-md-12">
  <div class="row my-4">
    <p-accordion>
      <p-accordionTab header="PGF gestiti" [selected]="true">
        <ng-container>
          <app-gestiti-pfa
            [pfas]="pfas"
            [cols]="cols"
            (emitLoadPfa)="getUpdatedTable($event)"
            [totalItems]="totalCount"
          >
          </app-gestiti-pfa>
        </ng-container>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<div *ngIf="messageEnable">
  l'utente non dispone dell'autorizzazione appropriata
</div>
<!-- <p-accordionTab header="Ricerca Piano Forestale aziendale">
  <div class="col-md-12">
    <div class="row" *ngIf="ricercaForm">
      <div class="col-md-12 my-4" [formGroup]="ricercaForm">
        <div class="grey-form">
          <label for="provincia" class="font-weight-bold"
            >Provincia
          </label>
          <ng-container
            *ngIf="provinciaDropdown$ | async as provinciaDropdown"
          >
            <p-dropdown
              [options]="provinciaDropdown"
              [placeholder]="'Select provincia'"
              formControlName="provincia"
              [style]="{ width: '100%' }"
              [showClear]="true"
              [autoWidth]="false"
              (onChange)="fillComune()"
            >
              <ng-template let-type pTemplate="item">
                <div
                  class="ui-helper-clearfix"
                  style="position: relative;height:25px;"
                >
                  <div style="font-size:14px;">
                    {{ type.label }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </ng-container>
          <div class="form-group">
            <label for="comune" class="font-weight-bold mt-4"
              >Comune</label
            >
            <ng-container>
              <p-dropdown
                [options]="comuneDropdown ? comuneDropdown : []"
                [placeholder]="'Select comune'"
                formControlName="comune"
                [style]="{ width: '100%' }"
                [showClear]="true"
                [autoWidth]="false"
              >
                izmenio let-type  u let-comune
                <ng-template let-type pTemplate="item">
                  <div
                    class="ui-helper-clearfix"
                    style="position: relative;height:25px;"
                  >
                    <div style="font-size:14px;">
                      {{ type.label }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="denominazione" class="font-weight-bold mt-4"
              >Denominazione</label
            >
            <input
              type="text"
              class="form-control"
              id="denominazione"
              name="denominazione"
              formControlName="denominazione"
            />
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="validita" class="font-weight-bold mt-4"
                >Validita</label
              >
              <div class="row">
                <div class="col mb-3">
                  <label
                    for="dataRilevamentoFrom"
                    class="font-weight-bold"
                    >Da</label
                  >
                  <p-calendar
                    [yearNavigator]="true"
                    [monthNavigator]="true"
                    dateFormat="yy-mm-dd"
                    id="dataRilevamentoFrom"
                    formControlName="dataRilevamentoFrom"
                    [style]="{
                      width: '100%'
                    }"
                    [inputStyle]="{ width: '100%' }"
                    showButtonBar="true"
                  ></p-calendar>
                </div>
                <div class="col">
                  <label for="dataRilevamentoTo" class="font-weight-bold"
                    >&nbsp;A</label
                  >
                  <p-calendar
                    [yearNavigator]="true"
                    [monthNavigator]="true"
                    dateFormat="yy-mm-dd"
                    id="dataRilevamentoTo"
                    formControlName="dataRilevamentoTo"
                    [style]="{
                      width: '100%'
                    }"
                    [inputStyle]="{ width: '100%' }"
                    showButtonBar="true"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between mt-5">
            <p-button
              label="Pulisci"
              [styleClass]="
                'mb-3 f-18 font-weight-bold intervento-button'
              "
              (onClick)="pulsici()"
            ></p-button>
            <p-button
              label="Ricerca"
              [styleClass]="'mb-3 f-18 font-weight-bold form-button'"
              (onClick)="ricerca()"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-accordionTab>

<p-accordionTab header="Ricerca su mappa"></p-accordionTab> -->
