/*.action-button {
    width: 25px; padding: 3px;   margin:3px; align-items: center; position: relative; height: 25px;
}

::ng-deep #risultatiRicerca {
    .ui-table, .ui-widget {
        font-size: 14px !important;
    }
}
*/
