<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<p-accordion>
  <p-accordionTab header="Scarica e predisponi i dati da elaborare">
    <div class="row">
      <div class="col">
        <ul class="list-none">
          <li class="font-weight-bold">
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/2000_dati_Inventario_forestale.csv"
              target="_blank"
            >
              Dati inventario forestale 2000
              <img
                [src]="'assets/img/csv50.png'"
                alt="download csv"
                width="40"
                height="40"
              />
            </a>
          </li>
          <li class="font-weight-bold">
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/2020_dati_Inventario_forestale.csv"
              target="_blank"
            >
              Dati inventario forestale 2020
              <img
                [src]="'assets/img/csv50.png'"
                alt="download csv"
                width="40"
                height="40"
              />
            </a>
          </li>
          <li class="font-weight-bold">
            <a
              href="http://conoscenzaambientale.sistemapiemonte.it/decsiraweb/map.html"
              target="_blank"
            >
              Predisponi i dati da elaborare a partire dal Sistema delle
              Conoscenze Ambientali
            </a>
          </li>
        </ul>

        <h3 class="light-bottom-border font-weight-bold">
          Dati delle aree di saggio per Area Forestale
        </h3>
        <p>
          Selezionare l’Area Forestale d’interesse sulla mappa sottostante e
          scaricare in locale il file .csv.
        </p>

        <ul class="area-list">
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_1.csv"
              target="_blank"
              >1 Valli Curone, Grue e Ossona</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_2.csv"
              target="_blank"
              >2 Valli Borbera e Spinti</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_3.csv"
              target="_blank"
              >3 Alta val Lemme e alto Ovadese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_4.csv"
              target="_blank"
              >4 Alta valle Orba e valle Erro</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_5.csv"
              target="_blank"
              >5 Langa Astigiana - Val Bormida</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_6.csv"
              target="_blank"
              >6 Valli Po, Bronda e Infernotto</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_7.csv"
              target="_blank"
            >
              7 Valle Varaita</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_8.csv"
              target="_blank"
              >8 Valle Maira</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_9.csv"
              target="_blank"
              >9 Valle Grana</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_10.csv"
              target="_blank"
              >10 Valle Stura</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_11.csv"
              target="_blank"
              >11 Valli Gesso, Vermenagna e Pesio</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_12.csv"
              target="_blank"
              >12 Valli Monregalesi</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_13.csv"
              target="_blank"
              >13 Alta valle Tanaro, valli Mongia e Cevetta, Langa Cebana</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_14.csv"
              target="_blank"
              >14 Alta Langa e Langa Esterna</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_15.csv"
              target="_blank"
              >15 Valli Antigorio e Formazza</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_16.csv"
              target="_blank"
              >16 Valle Vigezzo</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_17.csv"
              target="_blank"
              >17 Valle Antrona</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_18.csv"
              target="_blank"
              >18 Valle Anzasca</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_19.csv"
              target="_blank"
              >19 Valle Ossola</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_21.csv"
              target="_blank"
              >21 Valle Strona, Cusio, Mottarone e Orta</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_23.csv"
              target="_blank"
              >23 Valle Grande, alto Verbano, val Cannobina</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_25.csv"
              target="_blank"
              >25 Valle Pellice</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_26.csv"
              target="_blank"
              >26 Valli Chisone e Germanasca</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_28.csv"
              target="_blank"
              >28 Pinerolese pedemontano - Val Sangone</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_29.csv"
              target="_blank"
              >29 Bassa valle Susa e val Cenischia</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_30.csv"
              target="_blank"
              >30 Alta valle Susa</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_32.csv"
              target="_blank"
              >32 Valli Di Lanzo</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_33.csv"
              target="_blank"
              >33 Val Ceronda Casternernone, alto Canavese e pianura torinese
              settentrionale</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_34.csv"
              target="_blank"
              >34 Valli Orco e Soana</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_36.csv"
              target="_blank"
              >36 Valle Sacra, Val Chiusella, Dora Baltea Canavesana</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_38.csv"
              target="_blank"
              >38 Valsesia</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_41.csv"
              target="_blank"
              >41 Alta e bassa valle Cervo, valle Sessera, valle Mosso, prealpi
              Biellesi</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_44.csv"
              target="_blank"
              >44 Alto novarese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_45.csv"
              target="_blank"
              >45 Alta e bassa valle Elvo</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_51.csv"
              target="_blank"
              >51 Monferrato casalese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_52.csv"
              target="_blank"
              >52 Pianura Alessandrina settentrionale</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_53.csv"
              target="_blank"
              >53 Basso Monferrato astigiano</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_54.csv"
              target="_blank"
              >54 Alto Monferrato astigiano</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_55.csv"
              target="_blank"
              >55 Roero</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_56.csv"
              target="_blank"
              >56 Pianura cuneese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_57.csv"
              target="_blank"
              >57 Pianura torinese meridionale</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_58.csv"
              target="_blank"
              >58 Collina e fascia fluviale del Po - tratto torinese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_59.csv"
              target="_blank"
              >59 Canavese - Eporediese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_60.csv"
              target="_blank"
              >60 Pianura vercellese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_61.csv"
              target="_blank"
              >61 Pianura biellese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_62.csv"
              target="_blank"
              >62 Pianura novarese</a
            >
          </li>
          <li>
            <a
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_63.csv"
              target="_blank"
              >63 Pianura alessandrina meridionale</a
            >
          </li>
        </ul>

        <div class="cont-map">
          <img
            src="assets/img/sfondo_BDTRE.png"
            usemap="#mappaAreeForestali"
            alt="Mappa Area Forestale"
          />
          <map name="mappaAreeForestali" id="mappaAreeForestali">
            <area
              shape="poly"
              coords="123,736,128,728,139,725,151,722,158,719,166,725,180,722,191,721,205,715,214,717,215,728,215,739,221,742,215,758,202,751,197,747,185,745,176,746,174,748,165,746,161,748,151,740,142,740,122,736"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_9.csv"
              title="Valle Grana - Scarica csv"
              alt="9"
            />
            <area
              shape="poly"
              coords="571,572,588,569,586,555,590,548,601,571,611,566,612,576,608,583,616,594,629,595,642,594,641,608,649,618,647,628,649,637,637,634,619,618,612,620,596,615,583,606,573,601,565,602,561,600,555,590,565,589"
              target="_blank"
              href="{{ serviceSiforUrl }}dwd/ads/{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_1.csv"
              title="Valli Curone, Grue e Ossona - Scarica csv"
              alt="1"
            />
            <area
              shape="poly"
              coords="558,601,572,605,588,615,614,621,621,620,639,637,647,639,650,650,647,670,634,681,622,673,621,661,612,664,607,667,607,651,597,643,587,646,581,641,574,653,562,654,559,650,567,645,559,634,552,625,558,612,557,598"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_2.csv"
              title="Valli Borbera e Spinti - Scarica csv"
              alt="2"
            />
            <area
              shape="poly"
              coords="550,625,562,642,560,655,572,666,577,684,568,687,560,681,552,682,550,693,544,702,539,707,530,691,526,679,507,677,499,676,495,661,498,654,495,651,503,645,509,645,513,632,529,628,535,618,548,623,550,629,553,626"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_3.csv"
              title="Alta val Lemme e alto Ovadese - Scarica csv"
              alt="3"
            />
            <area
              shape="poly"
              coords="495,654,499,676,494,685,490,699,481,702,467,699,458,697,457,706,448,701,440,709,436,718,425,707,416,703,408,699,403,691,415,689,418,683,428,683,438,677,427,670,423,668,427,657,437,652,435,639,453,635,454,648,461,655,467,647,473,643,494,654"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_4.csv"
              target="_blank"
              title="Alta valle Orba e valle Erro - Scarica csv"
              alt="4"
            />
            <area
              shape="poly"
              coords="452,630,447,634,440,638,432,635,435,649,423,662,427,674,435,677,423,683,416,685,409,691,402,684,404,674,402,672,400,665,394,661,404,647,401,640,411,632,418,637,430,625,439,618,448,617,453,631"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_5.csv"
              title="Langa Astigiana - Val Bormida - Scarica csv"
              alt="5"
            />
            <area
              shape="poly"
              coords="201,607,208,616,210,623,210,635,205,647,207,654,204,660,202,674,189,669,184,665,169,664,160,658,154,655,138,658,131,654,122,655,119,644,114,636,109,628,111,620,124,619,130,610,132,606,155,605,176,599,183,610,204,603,204,606"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_6.csv"
              title="Valli Po, Bronda e Infernotto - Scarica csv"
              alt="6"
            />
            <area
              shape="poly"
              coords="115,636,121,642,125,658,133,654,144,657,162,657,172,667,192,665,203,677,207,662,223,655,235,661,233,671,224,677,219,687,207,684,203,689,196,695,187,696,181,694,185,696,170,694,154,686,146,685,133,685,109,676,88,683,73,680,70,675,76,664,90,654,81,646,89,633,100,632,115,635"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_7.csv"
              title="Valle Varaita - Scarica csv"
              alt="7"
            />
            <area
              shape="poly"
              coords="221,685,213,686,206,684,204,692,178,695,169,695,155,686,138,685,131,686,108,676,91,686,72,680,69,679,61,682,58,687,57,696,61,704,71,705,68,714,78,720,83,727,87,735,95,734,98,740,114,738,122,737,122,728,133,729,139,723,160,721,171,727,179,722,188,722,193,721,203,715,222,713,223,704,226,697,221,686"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_8.csv"
              title="Valle Maira - Scarica csv"
              alt="8"
            />
            <area
              shape="poly"
              coords="75,724,87,737,95,737,102,744,113,736,140,745,149,741,159,748,173,749,186,747,195,751,204,757,215,757,219,752,223,758,212,763,206,767,199,770,190,772,186,779,167,781,157,783,148,789,144,802,135,804,128,804,118,804,107,794,95,794,93,790,86,784,88,777,82,767,85,761,75,759,71,752,65,747,66,737,66,730,74,725"
              title="Valle Stura - Scarica csv"
              alt="10"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_10.csv"
            />
            <area
              shape="poly"
              coords="224,754,233,750,244,752,245,743,259,756,265,746,272,754,272,765,263,779,269,789,275,800,267,809,263,815,250,814,249,826,234,822,225,828,219,830,211,830,201,832,195,831,192,837,186,834,179,835,176,823,163,822,159,828,150,820,150,812,145,814,136,806,147,800,146,791,151,786,166,782,171,779,181,779,195,772,205,774,221,755"
              title="Valli Gesso, Vermenagna e Pesio - Scarica csv"
              alt="11"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_11.csv"
            />
            <area
              shape="poly"
              coords="264,742,271,732,279,736,287,729,297,722,316,715,316,725,328,730,334,730,330,741,325,752,330,767,329,777,330,788,326,790,319,794,316,803,309,809,301,803,293,813,279,820,278,815,266,816,275,801,264,784,270,767,272,755,265,743"
              title="Valli Monregalesi - Scarica csv"
              alt="12"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_12.csv"
            />
            <area
              shape="poly"
              coords="263,815,276,815,281,823,294,814,302,806,315,808,322,793,331,791,330,778,332,769,327,754,336,730,321,728,331,715,344,703,354,705,356,703,357,712,355,718,361,724,368,724,371,735,381,743,379,747,380,754,378,760,371,756,368,762,371,768,360,769,359,778,364,785,361,788,364,794,359,803,365,811,366,816,363,827,354,830,346,821,338,831,343,837,343,842,336,840,328,843,325,839,315,841,306,836,297,835,288,829,279,829,274,838,273,851,280,851,272,856,268,845,260,839,259,830,259,823,263,815,265,817"
              title="Alta valle Tanaro, valli Mongia e Cevetta, Langa Cebana - Scarica csv"
              alt="13"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_13.csv"
            />
            <area
              shape="poly"
              coords="312,713,317,725,321,729,328,713,343,705,359,699,356,715,361,725,374,729,374,739,385,742,395,738,399,730,397,719,393,716,397,710,402,709,398,703,401,697,408,694,404,683,404,674,400,662,393,659,400,649,403,639,412,631,409,623,402,627,396,622,397,613,388,614,385,624,381,621,376,614,372,612,367,617,360,624,356,627,344,623,336,628,343,633,329,636,316,643,320,656,324,661,320,668,322,678,320,686,322,693,319,704,314,713"
              title="Alta Langa e Langa Esterna - Scarica csv"
              alt="14"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_14.csv"
            />
            <area
              shape="poly"
              coords="391,112,399,111,409,117,417,125,420,133,428,125,434,122,447,120,451,111,454,106,465,106,456,102,460,96,457,92,461,84,455,73,468,59,467,46,466,35,465,24,463,15,455,14,448,18,442,18,430,26,426,30,429,36,423,47,415,47,407,57,401,69,390,71,379,77,373,84,389,95,392,114"
              title="Valli Antigorio e Formazza - Scarica csv"
              alt="15"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_15.csv"
            />
            <area
              shape="poly"
              coords="463,88,458,94,461,97,461,101,466,106,454,108,457,118,447,120,444,130,449,140,451,144,455,157,464,159,482,141,488,136,502,134,502,128,495,125,498,122,493,120,491,113,486,108,482,102,476,100,464,89"
              title="Valle Vigezzo - Scarica csv"
              alt="16"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_16.csv"
            />
            <area
              shape="poly"
              coords="376,139,391,145,400,138,407,147,420,145,424,150,418,163,411,158,403,165,381,167,365,177,350,172,358,164,357,160,356,151,359,147,363,141,377,138"
              title="Valle Antrona - Scarica csv"
              alt="17"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_17.csv"
            />
            <area
              shape="poly"
              coords="352,170,368,177,382,164,399,165,409,163,420,163,421,175,434,178,428,192,414,191,405,188,403,192,395,192,392,195,378,199,373,204,364,196,352,201,344,208,333,201,319,199,319,184,329,177,353,169"
              title="Valle Anzasca - Scarica csv"
              alt="18"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_18.csv"
            />
            <area
              shape="poly"
              coords="378,137,390,142,399,137,407,147,418,143,424,149,415,159,416,165,421,174,434,180,429,189,446,199,455,189,460,198,467,194,467,190,461,188,462,179,449,165,455,156,451,146,446,134,447,120,439,120,430,126,420,135,415,126,408,122,403,115,393,116,390,119,391,127,378,128,378,138"
              title="Valle Ossola - Scarica csv"
              alt="19"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_19.csv"
            />
            <area
              shape="poly"
              coords="402,197,406,192,417,192,430,192,444,202,455,190,458,201,465,200,472,197,495,209,491,216,494,221,487,227,486,233,476,235,473,234,471,229,470,226,465,218,451,235,450,224,447,233,443,234,447,242,441,248,443,254,439,258,426,253,429,239,433,230,432,223,421,220,427,215,418,212,416,209,404,200"
              title="Valle Strona, Cusio, Mottarone e Orta - Scarica csv"
              alt="21"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_21.csv"
            />
            <area
              shape="poly"
              coords="461,199,467,193,465,183,449,166,454,160,466,162,484,139,505,134,524,140,527,156,529,165,532,171,496,207,467,194"
              title="Valle Grande, alto Verbano, val Cannobina - Scarica csv"
              alt="23"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_23.csv"
            />
            <area
              shape="poly"
              coords="180,603,163,602,144,607,131,606,126,617,109,620,100,615,100,604,96,596,103,581,113,576,125,571,133,560,146,568,148,568,153,576,163,576,179,576,184,587,175,587,167,593,182,604"
              title="Valle Pellice - Scarica csv"
              alt="25"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_25.csv"
            />
            <area
              shape="poly"
              coords="128,559,139,565,151,568,154,574,165,564,165,554,164,544,172,531,162,522,155,525,146,520,139,520,137,509,130,501,117,503,105,495,93,499,86,497,82,502,82,506,79,510,73,511,75,518,66,523,76,531,81,542,84,553,96,566,97,581,103,586,114,577,125,578,130,562"
              title="Valli Chisone e Germanasca - Scarica csv"
              alt="26"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_26.csv"
            />
            <area
              shape="poly"
              coords="156,575,164,563,166,547,171,534,164,522,152,522,142,518,139,508,139,499,145,495,169,497,178,491,186,494,188,506,195,509,201,501,204,493,220,493,226,497,237,493,239,506,245,512,236,514,236,523,229,514,228,520,221,538,211,546,197,547,192,553,198,561,191,571,189,579,177,577,153,575"
              title="Pinerolese pedemontano - Val Sangone - Scarica csv"
              alt="28"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_28.csv"
            />
            <area
              shape="poly"
              coords="136,510,140,494,148,493,168,497,178,491,187,492,189,503,192,511,199,504,203,491,221,489,225,498,236,492,229,489,224,483,219,480,210,486,207,478,202,472,197,459,182,458,165,460,159,454,129,455,116,452,110,443,99,450,90,452,87,462,94,464,102,470,110,478,109,496,114,502,127,499,138,513"
              title="Bassa valle Susa e val Cenischia - Scarica csv"
              alt="29"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_29.csv"
            />
            <area
              shape="poly"
              coords="95,578,94,564,81,555,78,542,75,527,60,524,74,513,70,506,77,507,80,503,78,497,86,495,96,497,106,495,110,479,102,470,93,466,80,463,75,462,68,466,74,472,62,477,39,465,33,475,24,466,19,472,13,481,2,481,6,490,13,497,13,512,28,512,33,520,30,527,40,534,34,542,32,552,45,562,54,575,71,578,78,571,94,578"
              title="Alta valle Susa - Scarica csv"
              alt="30"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_30.csv"
            />
            <area
              shape="poly"
              coords="115,450,131,455,140,454,155,453,166,453,170,458,176,456,196,457,207,456,218,447,217,433,226,444,234,440,227,436,235,428,238,421,238,410,233,394,225,394,215,399,194,392,187,382,178,378,167,379,161,383,148,382,143,391,138,397,136,403,133,405,127,408,130,417,133,426,135,433,125,442,116,447"
              title="Valli Di Lanzo - Scarica csv"
              alt="32"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_32.csv"
            />
            <area
              shape="poly"
              coords="133,342,138,348,134,357,141,352,148,354,153,360,165,347,171,340,181,343,192,340,194,345,211,333,220,324,229,319,232,323,242,317,252,324,251,332,254,336,254,342,259,346,261,355,258,365,259,370,256,376,247,382,242,388,235,385,234,393,222,394,215,400,196,393,191,388,184,378,170,379,160,384,146,382,140,376,130,371,130,364,126,362,131,346"
              title="Valli Orco e Soana - Scarica csv"
              alt="34"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_34.csv"
            />
            <area
              shape="poly"
              coords="248,513,237,503,238,492,230,489,226,481,217,478,211,482,203,474,198,461,208,454,217,448,218,436,229,446,233,440,229,434,241,424,240,412,237,403,234,393,237,388,246,387,258,375,264,385,278,402,286,400,290,408,294,427,302,413,302,422,309,429,309,439,315,435,318,443,314,452,304,450,305,462,300,466,290,463,280,469,274,479,261,476,262,488,250,483,247,494,252,503,249,513"
              title="Val Ceronda Casternernone, alto Canavese e pianura torinese settentrionale - Scarica csv"
              alt="33"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_33.csv"
            />
            <area
              shape="poly"
              coords="260,376,264,382,269,398,284,402,282,385,278,382,284,376,290,377,303,363,296,358,302,344,307,348,312,336,316,341,325,343,319,337,326,324,322,316,310,316,299,321,299,325,287,327,286,332,276,329,267,330,257,323,250,326,254,339,262,344,263,355,258,374"
              title="Valle Sacra, Val Chiusella, Dora Baltea Canavesana - Scarica csv"
              alt="36"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_36.csv"
            />
            <area
              shape="poly"
              coords="319,204,320,200,334,201,344,209,353,202,364,197,375,206,379,199,388,199,396,193,406,193,404,204,414,209,426,215,418,219,433,226,426,234,427,256,440,257,440,267,446,282,432,282,415,283,407,273,397,257,390,252,385,259,376,265,366,274,361,265,354,267,353,273,333,271,331,262,320,260,318,249,316,236,319,202"
              title="Valsesia - Scarica csv"
              alt="38"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_38.csv"
            />
            <area
              shape="poly"
              coords="334,274,344,272,353,273,354,266,363,265,371,274,379,259,390,254,400,262,415,284,428,300,423,310,414,312,404,310,400,310,403,316,406,332,402,342,394,345,388,346,391,334,370,331,373,325,369,314,361,319,352,312,347,299,332,301,324,286,334,275"
              title="Alta e bassa valle Cervo, valle Sessera, valle Mosso, prealpi Biellesi - Scarica csv"
              alt="41"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_41.csv"
            />
            <area
              shape="poly"
              coords="439,306,432,294,428,285,434,282,446,283,441,267,438,257,444,250,451,240,448,231,454,235,467,221,471,234,494,224,495,236,486,248,484,258,492,261,494,273,509,273,513,279,509,288,502,288,501,295,491,285,478,289,474,280,469,278,467,269,465,266,463,274,460,273,447,274,453,279,458,287,457,295,452,299,443,295,441,306"
              title="Alto novarese - Scarica csv"
              alt="44"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_44.csv"
            />
            <area
              shape="poly"
              coords="368,335,369,326,366,318,358,322,356,315,348,316,348,309,344,302,329,303,324,314,325,327,326,333,319,338,328,341,324,340,333,350,340,359,352,369,362,371,357,364,356,353,351,348,357,340,369,334"
              title="Alta e bassa valle Elvo - Scarica csv"
              alt="45"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_45.csv"
            />
            <area
              shape="poly"
              coords="317,442,313,432,307,437,307,425,302,421,304,414,296,410,294,425,291,405,283,397,282,387,284,378,301,368,299,358,304,345,312,351,313,340,319,345,325,345,357,375,350,383,351,395,352,408,337,403,334,417,344,417,344,437,333,435,315,443"
              title="Canavese - Eporediese - Scarica csv"
              alt="59"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_59.csv"
            />
            <area
              shape="poly"
              coords="404,313,404,330,406,341,388,349,383,345,385,337,370,333,359,337,353,351,359,356,357,363,360,372,354,376,355,388,376,394,389,384,387,377,394,367,401,369,409,356,415,340,421,336,414,329,414,321,405,315,403,313"
              title="Pianura biellese - Scarica csv"
              alt="61"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_61.csv"
            />
            <area
              shape="poly"
              coords="482,454,492,457,481,467,474,469,471,460,460,456,452,462,444,458,429,471,416,467,401,469,391,464,383,470,374,457,360,466,357,454,350,451,344,440,345,418,338,415,338,407,355,412,354,400,351,396,349,379,358,390,374,393,379,397,389,382,387,379,393,371,401,370,404,360,413,349,419,347,420,335,416,325,407,315,423,312,430,303,420,290,419,286,431,288,442,305,445,321,451,346,449,386,455,382,465,391,469,394,471,405,466,410,477,417,475,427,479,431,481,441,483,445,484,455"
              title="Pianura vercellese - Scarica csv"
              alt="60"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_60.csv"
            />
            <area
              shape="poly"
              coords="505,289,494,295,489,288,475,291,473,282,468,281,471,273,463,270,460,275,452,275,459,288,459,297,454,300,445,297,441,308,446,325,451,339,449,384,456,381,469,391,474,405,466,412,478,418,482,414,478,407,484,402,495,407,504,404,510,412,514,425,524,422,527,412,538,404,531,405,526,398,530,393,534,397,541,391,546,397,550,390,558,391,553,378,546,370,546,359,536,355,525,352,526,341,525,332,518,328,523,318,519,310,510,308,518,305,515,299,516,295,515,291,505,290"
              title="Pianura novarese - Scarica csv"
              alt="62"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_62.csv"
            />
            <area
              shape="poly"
              coords="384,469,376,458,356,466,356,456,344,446,344,439,335,434,319,440,318,446,313,453,305,451,304,461,299,470,291,464,276,475,280,476,275,483,267,478,259,488,251,486,247,497,255,505,249,516,261,524,256,536,268,536,268,544,273,551,280,548,275,540,279,533,281,524,288,528,294,521,301,511,303,508,313,513,319,512,320,497,327,499,331,495,328,488,337,485,347,480,357,480,361,493,367,496,372,483,377,490,388,471"
              title="Collina e fascia fluviale del Po - tratto torinese - Scarica csv"
              alt="58"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_58.csv"
            />
            <area
              shape="poly"
              coords="249,522,239,513,235,527,230,519,222,537,211,545,205,553,198,549,192,552,197,560,199,566,194,571,196,575,188,579,179,578,186,588,174,588,170,594,181,600,183,608,205,603,211,609,218,608,236,601,244,593,248,586,251,580,253,587,257,581,258,589,263,594,273,594,286,592,292,583,300,585,301,580,314,586,317,579,320,589,333,579,328,571,318,568,318,566,329,560,326,556,320,557,316,551,322,549,322,541,331,529,328,517,339,511,333,505,323,506,323,513,317,513,306,507,300,513,291,525,288,531,279,524,275,538,282,544,280,551,270,551,268,545,270,540,268,532,258,538,254,532,262,523,253,518,249,518"
              title="Pianura torinese meridionale - Scarica csv"
              alt="57"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_57.csv"
            />
            <area
              shape="poly"
              coords="202,609,207,621,209,636,205,646,208,663,221,654,238,661,236,670,221,682,229,692,223,702,224,711,219,717,210,716,218,727,217,738,219,749,222,756,233,749,242,749,247,741,257,755,266,741,276,731,282,737,291,729,312,719,316,709,313,702,318,698,322,692,315,689,322,681,316,671,323,663,316,643,306,639,296,638,293,638,285,636,284,623,274,616,286,609,286,592,273,590,263,592,256,582,246,585,244,593,233,591,226,602,220,610,212,611,202,609"
              title="Pianura cuneese - Scarica csv"
              alt="56"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_56.csv"
            />
            <area
              shape="poly"
              coords="304,582,295,584,286,591,286,603,276,616,283,624,290,633,298,637,310,639,320,643,328,636,343,633,334,627,343,622,357,627,374,614,373,605,381,602,381,595,376,591,373,597,368,586,363,594,355,599,353,589,346,590,342,585,341,577,333,576,323,588,316,588,301,580"
              title="55 - Roero - Scarica csv"
              alt="55"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_55.csv"
            />
            <area
              shape="poly"
              coords="345,483,331,489,333,497,328,500,320,493,321,505,332,507,342,512,329,522,331,530,323,539,323,549,317,550,321,557,327,557,335,560,324,567,329,577,340,578,341,589,352,589,354,597,370,589,369,579,377,571,371,546,375,540,379,534,388,542,407,542,411,532,411,545,420,554,432,558,442,549,442,538,442,535,432,532,435,522,430,517,426,512,423,505,407,507,407,516,403,526,394,520,393,515,385,518,384,511,378,506,376,497,374,489,374,485,366,494,360,485,354,481,343,484"
              title="Basso Monferrato astigiano - Scarica csv"
              alt="53"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_53.csv"
            />
            <area
              shape="poly"
              coords="391,470,385,476,384,483,377,491,376,499,382,512,387,519,395,515,402,522,408,524,407,509,418,504,423,502,428,512,435,517,438,517,438,522,433,530,443,532,445,542,446,546,453,554,458,549,457,540,463,533,459,525,457,519,459,512,451,512,446,511,447,501,441,495,443,494,447,487,441,484,438,481,448,478,451,470,442,462,431,470,420,466,414,463,407,472,398,465,392,470"
              title="Monferrato casalese - Scarica csv"
              alt="51"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_51.csv"
            />
            <area
              shape="poly"
              coords="371,544,377,534,388,543,407,541,420,555,427,557,435,560,444,571,437,577,447,583,452,581,450,594,462,597,472,604,468,616,462,612,456,618,448,621,441,617,437,619,427,628,414,637,409,633,413,624,406,620,404,626,395,625,396,613,386,615,384,626,375,619,374,611,378,602,379,593,373,593,366,594,372,581,369,574,380,571,371,544"
              title="Alto Monferrato astigiano - Scarica csv"
              alt="54"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_54.csv"
            />
            <area
              shape="poly"
              coords="454,460,450,458,444,458,441,462,447,466,452,473,449,479,439,479,441,486,446,490,442,495,449,503,446,512,459,511,459,525,467,531,459,541,461,548,452,556,448,548,445,545,440,552,434,557,445,568,438,576,448,583,454,581,451,593,460,581,473,584,480,576,492,579,498,572,503,573,507,562,511,576,525,574,533,584,542,576,544,562,537,554,536,545,536,536,541,529,550,527,559,525,570,524,572,520,572,515,568,509,556,514,549,521,541,523,533,523,529,520,522,514,519,522,506,523,507,517,508,505,503,497,499,493,500,482,493,481,493,475,485,468,479,468,475,467,470,458,462,458,448,457"
              title="Pianura Alessandrina settentrionale - Scarica csv"
              alt="52"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_52.csv"
            />
            <area
              shape="poly"
              coords="508,569,500,575,491,580,488,576,476,577,470,586,458,582,449,592,463,598,473,604,469,622,462,616,451,623,454,627,451,636,456,642,454,648,463,656,471,645,475,641,484,649,493,653,502,646,511,642,512,632,528,629,536,618,547,625,557,613,559,599,557,593,570,586,566,579,573,571,589,570,588,563,583,556,591,543,587,533,578,534,576,535,571,526,562,527,554,525,544,526,537,537,535,551,545,562,544,573,527,583,520,574,511,576,508,567,508,569,507,569"
              title="Pianura alessandrina meridionale - Scarica csv"
              alt="63"
              target="_blank"
              href="{{
                serviceSiforUrl
              }}dwd/ads/csv_cavallettamento_alberi_area_forestale_63.csv"
            />
          </map>
        </div>
      </div>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Procedi con le elaborazioni dendrometriche">
    <div class="row">
      <div class="col-md-12">
        <h3 class="font-weight-bold">Elaborazioni dendrometriche</h3>
      </div>
    </div>
    <!--/row-->

    <div [formGroup]="reportForm">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12 text-center">
          <label for="file" class="font-weight-bold mt-4">File CSV</label><br />
          <input
            type="file"
            id="file"
            formControlName="file"
            accept=".csv"
            maxFileSize="1000000"
            (change)="handleFileInput($event.target.files)"
            customUpload="false"
          />
        </div>

        <div class="col-lg-3 col-md-12 col-12 text-center">
          <label class="font-weight-bold mt-4" for="areaSaggio" id="areaSaggio"
            >Tipo area di saggio</label
          >

          <p-dropdown
            [options]="areeDiSaggioDropDown"
            [placeholder]="'-- Seleziona area di saggio --'"
            formControlName="ads"
            (onChange)="onAreaDiSaggioChange($event)"
            [style]="{ width: '100%' }"
            [showClear]="true"
            [autoWidth]="false"
            aria-labelledby="areaSaggio"
            inputId="areaSaggio"
          >
            <ng-template let-type pTemplate="item">
              <div
                class="ui-helper-clearfix"
                style="position: relative; height: 25px"
              >
                {{ type.label }}
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="col-lg-3 col-md-12 col-12 text-center">
          <label id="report" class="font-weight-bold mt-4"
            >Tipologia report</label
          >
          <p-dropdown
            [options]="reportDropdownList"
            [placeholder]="'-- Selezione tipologia report --'"
            formControlName="report"
            (onChange)="disabilitaBtnElabora()"
            [style]="{ width: '100%' }"
            [showClear]="true"
            [autoWidth]="false"
            aria-labelledby="report"
          >
            <ng-template let-type pTemplate="item">
              <div
                class="ui-helper-clearfix"
                style="position: relative; height: 25px"
              >
                <div style="font-size: 14px">
                  {{ type.label }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <!--/reportForm-->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 text-center mt-4">
          <p-button
            [disabled]="disabilitaBtnElabora()"
            label="Elabora"
            (onClick)="elaboraReport()"
          ></p-button>
          <div class="error">{{ formError }}</div>
        </div>
      </div>
    </div>

    <hr class="black-hr" *ngIf="jobInfo" />
    <div class="row justify-content-center my-4" *ngIf="jobInfo">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-12 text-center">
            <strong>File</strong>
            <div>Nome: {{ jobInfo.fileName }}</div>
            <div>Data creazione: {{ jobInfo.fileDate }}</div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 text-center">
            <strong>Elaborazione:</strong>
            <div>{{ jobInfo.elaborazione }}</div>
          </div>
          <div class="col-lg-2 col-md-12 col-12 text-center">
            <strong>Totale ads:</strong>
            <div>{{ jobInfo.ads }}</div>
          </div>
          <div class="col-lg-2 col-md-12 col-12 text-center">
            <strong>Totale alberi:</strong>
            <div>{{ jobInfo.alberi }}</div>
          </div>
        </div>
      </div>
    </div>

    <hr class="black-hr" *ngIf="infoDatiCampione" />
    <ng-container *ngIf="infoDatiCampione">
      <app-table
        [data]="infoDatiCampione"
        [title]="'Dati complessivi'"
      ></app-table>
    </ng-container>

    <hr class="black-hr" />
    <ng-container *ngIf="reportData?.basimetria">
      <app-basimetria
        [reportData]="reportData?.basimetria"
        [adsType]="adsTypeValue"
      ></app-basimetria>
    </ng-container>

    <ng-container *ngIf="reportData?.ipsometria">
      <app-ipsometria
        [reportData]="reportData?.ipsometria"
        (filter)="elaboraReport($event)"
      ></app-ipsometria>
    </ng-container>

    <ng-container *ngIf="reportData?.diametri">
      <app-diametri [reportData]="reportData?.diametri"></app-diametri>
    </ng-container>

    <ng-container *ngIf="reportData?.incrementi">
      <app-incrementi
        [reportData]="reportData?.incrementi"
        (filter)="elaboraReport($event)"
      ></app-incrementi>
    </ng-container>

    <ng-container *ngIf="reportData?.volumi">
      <app-volumi [reportData]="reportData?.volumi" [adsType]="adsTypeValue">
      </app-volumi>
    </ng-container>

    <br />
  </p-accordionTab>
</p-accordion>
<br />
