/*!
 * SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte
 * 
 * SPDX-License-Identifier: EUPL-1.2
*/
.row_header{
    /*background-color: #9ab6ea;
    border-radius: 15px;
    color: black;
    padding: 5px 6px 1px;*/
}
