/*!
 * SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte
 * 
 * SPDX-License-Identifier: EUPL-1.2
*/
.div-title{
    border-radius: 0.35rem;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
}