<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<div class="row" *ngIf="personaliForm">
  <div class="col-md-12 my-4" [formGroup]="personaliForm">
    <div class="grey-form">
      <div class="form-group">
        <label for="codiceFiscale" class="font-weight-bold"
          >Codice fiscale <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="codiceFiscale"
          formControlName="codiceFiscale"
          name="codiceFiscale"
        />
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="cognome" class="font-weight-bold"
            >Cognome <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="cognome"
            formControlName="cognome"
            name="cognome"
          />
        </div>
        <div class="col">
          <label for="nome" class="font-weight-bold"
            >Nome <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="nome"
            formControlName="nome"
            name="nome"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="comune" class="font-weight-bold"
          >Comune residenza <span class="text-danger">*</span></label
        >
        <span
          class="text-danger"
          *ngIf="
            personaliForm.get('comune').touched &&
            personaliForm.get('comune').errors?.required
          "
        >
          Attenzione! Campo obbligatorio</span
        >
        <p-autoComplete
          inputId="comune"
          formControlName="comune"
          [suggestions]="filteredCities"
          (completeMethod)="filterCities($event)"
          [size]="30"
          placeholder="Countries"
          [minLength]="1"
          [forceSelection]="true"
          [styleClass]="'w-100'"
          [inputStyleClass]="'form-control'"
        ></p-autoComplete>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label for="indirizzo" class="font-weight-bold"
            >Indirizzo Residenza <span class="text-danger">*</span></label
          >
          <span
            class="text-danger"
            *ngIf="
              personaliForm.get('indirizzo').touched &&
              personaliForm.get('indirizzo').errors?.required
            "
          >
            Attenzione! Campo obbligatorio</span
          >
          <input
            type="text"
            class="form-control"
            id="indirizzo"
            formControlName="indirizzo"
            name="indirizzo"
          />
        </div>
        <div class="col-3 mb-3">
          <label for="civico" class="font-weight-bold"
            >Civico <span class="text-danger">*</span></label
          >
          <span
            class="text-danger"
            *ngIf="
              personaliForm.get('civico').touched &&
              personaliForm.get('civico').errors?.required
            "
          >
            Attenzione! Campo obbligatorio</span
          >
          <span
            class="text-danger"
            *ngIf="
              personaliForm.get('civico').touched &&
              personaliForm.get('civico').errors?.pattern
            "
          >
            Attenzione! Indirizzo civico non valido</span
          >

          <input
            type="text"
            class="form-control"
            id="civico"
            formControlName="civico"
            name="civico"
          />
        </div>
        <div class="col-3 mb-3">
          <label for="cap" class="font-weight-bold"
            >Cap <span class="text-danger">*</span></label
          >
          <span
            class="text-danger"
            *ngIf="
              personaliForm.get('cap').touched &&
              personaliForm.get('cap').errors?.required
            "
          >
            Attenzione! Campo obbligatorio</span
          >
          <input
            type="text"
            class="form-control"
            id="cap"
            formControlName="cap"
            name="cap"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="nrTelefonico" class="font-weight-bold"
          >Recapito telefonico <span class="text-danger">*</span></label
        >
        <span
          class="text-danger"
          *ngIf="
            personaliForm.get('nrTelefonico').touched &&
            personaliForm.get('nrTelefonico').errors?.required
          "
        >
          Attenzione! Campo obbligatorio</span
        >
        <input
          type="text"
          class="form-control"
          id="nrTelefonico"
          formControlName="nrTelefonico"
          name="nrTelefonico"
        />
        <input
          class="form-control w-100"
          type="hidden"
          id="idSoggetto"
          name="idSoggetto"
          formControlName="idSoggetto"
        />
      </div>
      <div class="form-group">
        <label for="email" class="font-weight-bold"
          >E-mail <span class="text-danger">*</span></label
        >
        <span
          class="text-danger"
          *ngIf="
            personaliForm.get('email').touched &&
            personaliForm.get('email').errors?.required
          "
        >
          Attenzione! Campo obbligatorio</span
        >
        <span
          class="text-danger"
          *ngIf="
            personaliForm.get('email').touched &&
            personaliForm.get('email').errors?.pattern
          "
        >
          Attenzione! Indirizzo mail non valido</span
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          name="email"
        />
      </div>
    </div>
  </div>
</div>
<div class="alert alert-info agree-alert py-4 d-flex" role="alert">
  <span class="d-flex align-items-center">
    Il/La sottoscritto/a dichiara di avere preso visione &nbsp;
    <a href="#" class="d-contents">dell'informativa sulla privacy</a> &nbsp; ai
    sensi del GDRP 2016/679.
  </span>
</div>
<p-checkbox
  name="agree"
  binary="true"
  label="Confermo"
  [(ngModel)]="isConfirmed"
  [styleClass]="'my-3 font-weight-bold'"
></p-checkbox>
<span class="text-danger align-warning-center" *ngIf="!isConfirmed">
  Attenzione! Campo obbligatorio</span
>
<hr class="black-hr" />
<div class="row">
  <div class="col-md-12 text-right">
    <p-button
      class="full-width-media"
      label="Conferma"
      (onClick)="sendPersonaliForm()"
      [styleClass]="'mb-3 f-18 font-weight-bold form-button'"
      [disabled]="!isConfirmed || personaliForm.invalid"
    ></p-button>
  </div>
</div>
