<!--
SPDX-FileCopyrightText: (C) Copyright 2023 Regione Piemonte

SPDX-License-Identifier: EUPL-1.2
-->
<!-- <ng-container *ngIf="parcelsForm">
 <div *ngIf="parcelsForm.get('parcelArray')['controls'].length > 0 "> -->
<div>
  <h4 class="row header" style="margin-bottom: 1rem">
    Elenco particelle catastali su cui ricade il bosco
  </h4>
  <app-reusable-front-table
    [initiallySortedColumn]="sortedColumn"
    [headers]="tableHeaders"
    [data]="tableData"
    (rowIdEmitter)="getRowId($event)"
    (updateTableChanges)="getUpdatedTable($event)"
    [delete]="true"
    [fieldToDelete]="'id'"
    (deleteRow)="deleteRow($event)"
  ></app-reusable-front-table>
  <div class="text-center mt-3 mb-3">
    <p-button
      (click)="createPolygon()"
      [disabled]="!enabledGeneraPoligono"
      [styleClass]="'mt-3 f-18 font-weight-bold form-outline-button'"
      label="ACQUISISCI PARTICELLE E GENERA POLIGONO"
    >
    </p-button>
  </div>
</div>
<hr class="black-hr" />
<!-- <div [formGroup]="parcelsForm">
      <table>
        <tr formArrayName="parcelArray"
        *ngFor="let angolare of parcelsForm.get('parcelArray')['controls'];
        let i= index">
          <ng-container [formGroupName]="i">
            <td><input class="form-control" type="text" name="comune" formControlName="idComune"/></td>
            <td><input class="form-control" type="text" name="comune" formControlName="sezione"/></td>
            <td><input class="form-control" type="text" name="comune" formControlName="foglio"/></td>
            <td><input class="form-control" type="text" name="comune" formControlName="particella"/></td>
            <td><input class="form-control" type="text" name="comune" formControlName="supCatastale"/></td>
            <td>
              <button *ngIf="i !== 0" type="button" class="btn-close" (click)="deleteFiledValue(i)">
                <em class="fa fa-close" aria-hidden="true"></em>
              </button>
            </td>
          </ng-container>
        </tr>
      </table>

      <div class="row">
        <div class="col text-right mt-3 mb-3">
            <p-button [styleClass]="'mt-3 f-18 font-weight-bold form-outline-button'" label="acquisisci particelle e genera poligono"></p-button>
        </div>
      </div>
    </div> -->
<!--   </div>
</ng-container> -->
